* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
}

li {
  list-style: none;
  padding: 0;
}
.text_area {
  resize: none;
  height: 150px;
  width: 100%;
  padding: 10px;
}
button {
  border: none;
}
.btn,
button,
input {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

img {
  object-fit: contain;
}

.link_class {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

.link_class:hover {
  text-decoration: none;
  color: inherit;
}

.App {
  max-width: 100vw;
  min-height: 100vh;
  background: white;
  overflow: hidden;
}

.App .main {
  /* background-color: #ccc; */
  max-width: 95vw;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 6rem;
  /* background-color: #eee; */
  box-shadow: 0 0 35px #eee;
}

.icon_white {
  color: white;
}
.icon_silver {
  color: silver;
}
.icon_green {
  color: green;
}
.icon_red {
  color: red;
}
.icon_dark {
  color: gray;
}

.rating span {
  color: #ffc000;
}

@media (max-width: 800px) {
  .App .main {
    /* background-color: #ccc; */
    max-width: 95vw;
    padding: 0 5px;
    /* background-color: #eee; */
  }
}
@media (max-width: 800px) {
  .App .main {
    /* background-color: #ccc; */
    max-width: 98vw;

    /* background-color: #eee; */
  }
}

/* IMPORT STYLES */
@import url("./styles/loading.css");
@import url("./styles/header.css");
@import url("./styles/products.css");
@import url("./styles/productItem.css");
@import url("./styles/productReview.css");
@import url("./styles/login.css");
@import url("./styles/register.css");
@import url("./styles/cart.css");
@import url("./styles/admin_home.css");
@import url("./styles/check_out.css");
@import url("./styles/categories.css");
@import url("./styles/create_edit_categories.css");
@import url("./styles/create_edit_products.css");
@import url("./styles/profile_detail.css");
@import url("./styles/update_profile.css");
@import url("./styles/order_history.css");
@import url("./styles/users.css");
