.header {
  padding: 0 2rem;
  min-height: 70px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ddd;
  background: #fff;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
}

.header_menu {
  display: none;
}

.header_logo {
  flex: 1;
}
.header a {
  text-transform: uppercase;
  color: #555;
}
.header_list {
  display: flex;
  align-items: center;
}
.header_list li {
  display: inline-block;
  opacity: 0.7;
  padding: 0 20px;
  transition: all 0.3s;
}
.profile_avatar {
}
.profile_avatar img {
  width: 100px;
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  cursor: pointer;
}
.header_list li:hover {
  opacity: 1;
}

.header_list .header_list-close {
  display: none;
}

.header_cart-icon {
  display: block;
  position: relative;
}

.header_cart-icon span {
  background: crimson;
  border-radius: 20px;
  color: white;
  position: absolute;
  top: -12px;
  right: 5px;
  padding: 5px 7px;
  font-size: 10px;
}

@media (max-width: 820px) {
  .header_logo {
    min-width: 115px;
    flex: none;
  }
  .header_list {
    padding: 10px 0;
  }
}
@media (max-width: 720px) {
  .header {
    justify-content: space-between;
    align-items: center;
  }
  .header_list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0.98;
    z-index: 30;
    transition: all 0.5s ease-in;
  }
  .header .header_menu {
    display: block;
    cursor: pointer;
    position: relative;
  }
  .header_list .header_list-close {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

@media (max-width: 500px) {
}
