.profile_detail_box {
  width: 100%;
  min-height: 100vh;
}

.profile_detail_header {
  width: 100%;
  height: 100px;
  background: #f7f8fb;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.profile_detail_general,
.profile_detail_password,
.profile_detail_dltaccount {
  min-height: 200px;
  border-bottom: 1px solid #eee;
  display: flex;
  padding: 2rem 1rem;
}
.profile_detail_general-left,
.profile_detail_password-left,
.profile_detail_dltaccount-left {
  flex: 1;
}

.profile_detail_general-right,
.profile_detail_password-right,
.profile_detail_dltaccount-right {
  flex: 2;
  padding-left: 1rem;
}

.password_header,
.profile_header {
  color: #79589f;
}
.dltaccount_header {
  color: red;
}
/* Profile */
.profile_detail_general-right {
  display: flex;
  gap: 1rem;
}
.profile_detail_general-right img {
  width: 70px;
  height: 70px;
  border-radius: 4px;
}
.profile_detail_general-right form {
  display: flex;
  width: 50%;
  flex-direction: column;
  /*  background: #eee; */
}

.profile_detail_general-right form input {
  width: 100%;
  margin-bottom: 1rem;
}
/* Password */
.profile_detail_password-right form {
  display: flex;
  width: 60%;
  flex-direction: column;
  /*  background: #eee; */
}
.current_p {
  padding-bottom: 3rem;
  border-bottom: 1px solid #eee;
  /* background: #ccc; */
  position: relative;
}
.current_p > small {
  position: absolute;
  right: 10px;
  top: 2.5rem;
  cursor: pointer;
}
.updadet_p {
  /* background: #eee; */
  position: relative;
}
.updadet_p .small_new,
.updadet_p .small_conf {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 3.5rem;
}
.updadet_p .small_conf {
  top: 9rem;
}

.current_p input,
.updadet_p input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}
.new_password_label {
  margin-top: 1rem;
}
.updadet_p .update_password {
  padding: 3px 10px;
  font-weight: bold;
  color: #333;
  border-radius: 3px;
}
/* Close Account */
.profile_detail_dltaccount-right .close_account {
  background: transparent;
  color: red;
  border: 1px solid red;
  padding: 3px 10px;
  border-radius: 3px;
}

/* Address Warning */
.must_warn {
  background: rgb(246, 179, 56);
  padding: 1rem;
}
.must_warn > span {
  margin-right: 1rem;
}

/* more_changes */
.more_changes {
  margin: 1rem 0;
}
.more_changes h4 {
  font-weight: normal;
  letter-spacing: 1px;
  color: #333;
}
.more_changes-address {
  margin-bottom: 1rem;
}
.more_changes-gender {
  margin-bottom: 1rem;
}
.more_changes .more_changes-gender_sorround {
  display: flex;
  align-items: center;
}
.more_changes .more_changes-gender_sorround input {
  width: 15px;
  margin: 0 10px;
  margin-bottom: 5px;
}
.more_changes-avatar {
}
.more_changes-avatar_sorround {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
  border: 1px solid #eee;
  padding-bottom: 1rem;
}
.more_changes-avatar_sorround img {
  object-fit: contain;
}
.more_changes-avatar_sorround input {
  display: none;
}
.more_changes-avatar_sorround label {
  background: teal;
  color: #fff;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.profile_detail_changes-btn {
  display: block;
  margin: 2rem auto;
  background: #79589f;
  color: #fff;
  padding: 5px 15px;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 5px;
}

@media (max-width: 1280px) {
  .profile_detail_general-right,
  .profile_detail_password-right,
  .profile_detail_dltaccount-right {
    flex: 1.6;
    padding-left: 3rem;
  }
  .profile_detail_general-right form,
  .profile_detail_password-right form {
    width: 70%;
  }
}

@media (max-width: 800px) {
}

@media (max-width: 500px) {
  .profile_detail_general,
  .profile_detail_password,
  .profile_detail_dltaccount {
    flex-direction: column;
  }
  .more_changes select {
    width: 100%;
  }
}
